.p{
background-color: #ffe066;
color:black;
}
.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.70;
    background-repeat: no-repeat;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}
